KazutoraAnimeBot/config.py
KazutoraAnimeBot/*.session
KazutoraAnimeBot/*.session-journal
KazutoraAnimeBot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
KazutoraAnimeBot/modules/helper_funcs/temp.txt
KazutoraAnimeBot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
KazutoraAnimeBot.session-journal
updates.txt
*.exe
